/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* @responsive {
    .bg-gradient-brand{
        background-image: linear-gradient(blue, green);
    }
}*/


@screen sm {
    .bg-gradient-brand{
        background-image: linear-gradient(blue, green);
    }
}

