/* Importing files */ 

@import "reset";
@import "variables";



header{
    background: $header-bgcolor;
}


.btn{
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.btn-download{
   @extend .btn;
   background-color: red;
}

.learn-more{
   @extend .btn; 
   background-color: green;
}



/* Creating a mixin which means accessing all properties of a definite class or tag */ 

@mixin para-style ($size, $style){
    font-size: $size;
    font-weight: 700;
    text-align: $style;
    margin: 10px 0;
}


#about p{
    @include para-style(18px, left);
}

#education p{
    @include para-style(16px, justify);
}




// nav styling

/*  nesting  */

nav{
    margin-top: 15px;
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            margin: 0 15px;

            a{
                display: inline-block;  
                color: white;
                text-decoration: none;
                padding: 10px;
                transition: .4s;
                border-radius: 5px;
              }

              a:hover{
                background: #000;
              }
         }
    }
}





main{
    background: $main-bgcolor;
}


// #about p{
//     font-size: $para-fontsize;
// }


footer{
    background: $footer-bgcolor;
}

